[*.cs]

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = false:suggestion

# IDE0054: Use compound assignment
dotnet_style_prefer_compound_assignment = false:suggestion